.map-container {
  height: 90vh;
  width: 45vw;
  background-color: #FFFFFF;
  margin: 16px 8px 16px 8px;
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}
